body {
    background-color: #F4F4F4;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    color: #FF4F4F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #333333;
    color: #FFFFFF;
    padding: 15px 0;
}

.header h1 {
    font-size: 32;
}